<p><strong><code><%= render_domain(params[:client_id]) %></code></strong> is attempting to sign in using <code><%= Rack::Utils.escape_html(params[:me]) %></code>.</p>
<% unless params[:scope].nil? || params[:scope].empty? %>
  <p>The following permissions are being sought: <code><%= Rack::Utils.escape_html(params[:scope]) %></code>.</p>
<% end %>
<p>If this is expected, sign in with GitHub below.</p>
<form action="/auth/github" method="post">
  <input type="hidden" name="authenticity_token" value="<%= Rack::Protection::AuthenticityToken.token(env['rack.session']) %>">
  <button type="submit" class="btn btn-primary">Sign in with GitHub</button>
</form>
